:root {
  --large-font: 2.2rem;
  --reg-font: 1.1rem;
}

body {
  /* Use industrial font style from modernfontstacks*/
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1 {
  margin: 0;
  padding-top: 2rem;
  height: 5rem;
  border-bottom: 0.15rem black solid;

  font-size: var(--large-font);
  text-align: center;
  color: white;

  background-color: hsl(281, 85%, 26%);
  /*yellow*/
}

p {
  margin: 0;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: var(--reg-font);
}

.important {
  color: hsl(281, 42%, 40%);
  font-weight: 800;
}

.img-container {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

img {
  width: 35rem;
  height: auto;
  border-radius: 2rem;
}