:root {
  --large-font: 32px;
  --reg-font: 18px;
}

body {
  /* Use industrial font style from modernfontstacks*/
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

h1 {
  margin: 0;
  padding-top: 2rem;
  height: 5rem;
  border-bottom: 0.15rem black solid;

  font-size: var(--large-font);
  text-align: center;

  background-color: hsl(59, 94%, 45%);
  /*yellow*/
}

p {
  margin: 0;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: var(--reg-font);
}