<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>
    <h1>Ryan Cooper</h1>
    <p>
        I am currently pursing <span class="important">Android Mobile App Development</span> and <span
            class="important">Full Stack Web Development</span>. Aside from that,
        I am interested in <span class="important">Video Game Development</span>.
    </p>
    <img src="{{ url_for('static', filename='ZrC Glitch.png') }}" alt="Image of ZrC logo">
</body>

</html>